{% extends 'base.html.twig' %}



{% block body %}

<section class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-8 col-md-6 border-left border-right border-dark px-1 py-1 pt-5">
            <img class="imgAccueil" src="/images/AccueilTop.jpg" alt="">
        </div>
    </div>
    <div class="row justify-content-center border-top border-bottom border-dark">
        <div class="col-8 col-md-6 border-left border-right border-dark py-5 text-justify">
            <h3>Bienvenue Projet Chôbbat etc</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam autem dolorum accusantium animi molestiae, error repudiandae nulla inventore voluptate culpa delectus. Natus molestias enim tempore libero. Quisquam accusamus ullam nostrum hic quos laudantium perferendis nulla debitis ad esse ab necessitatibus asperiores sed, quia saepe, corrupti voluptatibus. Eos quisquam mollitia commodi voluptatibus soluta autem et, cumque fuga, pariatur accusamus sequi, dolore facilis nulla labore molestias! Nisi dolore vitae inventore delectus exercitationem consequatur beatae dolorum blanditiis, impedit mollitia recusandae quaerat possimus sapiente optio dicta sint suscipit magni reprehenderit magnam nam voluptas, ipsum temporibus quos? Mollitia aliquid itaque tenetur sequi officiis voluptas neque.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-md-6 border-left border-right border-dark px-1 py-1 pb-3">
            <img class="imgAccueil" src="/images/AccueilBottom.jpg" alt="">
        </div>
    </div>
</section>

<footer class="footer mt-auto bg-white border-top border-dark px-2">
    <div class="row justify-content-end">
        <div class="col-1">
            <img class="imgAccueil" src="/images/Escoubi.JPG" alt="">
        </div>
    </div>
</footer>

{% endblock %}