{% extends 'admin/index.html.twig' %}


{% block admin %}

<div class="row"> <h1>Editer {{track.title}}</h1> </div> 


        {% include "admin/admin_track/_trackform.html.twig" with {button: 'Editer'}%}  



{% endblock %}
