{% extends 'admin/index.html.twig' %}


{% block admin %}

    <section class="row">
        <a class="btn btn-outline-info" href="{{path('admin_album_new')}}" role="button">Ajouter un album</a>
    </section>

{% endblock %}
