
#homeBackground{
	background-image: url('/images/Background.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1490px;
	display: flex;
	justify-content: center;
	background-attachment: fixed;
}

#homeTitle{
	color: whitesmoke;
	font-weight: bolder;
	font-size: 5rem;
	margin-bottom: 3rem;
}

#homeBox{
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgAccueil{
	width: 100%;
	height: auto;
}


/* AUDIO PLAYER*/

button{
	border: none;
	background-color: transparent;
}
#buttons img{
	height: auto;
	width: 2em;
}
 
#volumeElements{
	position: relative;
}

#volumeElements:hover #range{
	display: flex;
	align-items: center;
}

#range{
	position: absolute;
	display: none;
	width: 5em;
	height: 2em;
	transform: rotate(-90deg);
	top: -3.2em;
	left: -1em;	
}

.playlist{
	list-style:none;
}
.playlist li{
	cursor:pointer;
}

.playlist li:hover{
	background-color:rgb(243, 243, 243);
}

.selected{
	background-color:rgb(243, 243, 243);
}
#progress-bar{
	width: 100%;
	height: 0.2em;
	background-color: darkgrey;
	border-radius: 10px;
}

#progress{
	height: 100%;
	width: 0;
	background-color: darkslategray;
	border-radius: 10px;
}

/* ---------------------------------------------------------------------------------- */
@media only screen and (min-width:1100px){

#homeTitle{
	font-size: 8rem;
}

}
